<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>   
    <div class="text-center">
        <img src="~/Content/Imagenes/ErrorPage.jpg" class="rounded" alt="Error de plataforma" style="width:63%">
    </div>
</body>
</html>
