@using BAL.Modelos;
@model IEnumerable<AccesoModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div>
    <!--Miga de pan-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item"><a href="/Home/Index">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Menú</li>
        </ol>
    </nav>
</div>

<nav class="mt-4">
    <ul class="nav nav-pills  flex-column" data-widget="treeview" role="menu" data-accordion="false">       

        <li class="nav-item has-treeview ">

            @if (Model != null)
            {
                foreach (var item in Model)
                {

                    if (string.IsNullOrWhiteSpace(item.idPadre))
                    {
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-edit"></i>
                            <p>
                                @item.nomMenu
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                    }
                    else
                    {
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@item.controller" class="nav-link">
                                    <i class="fas fa-plus nav-icon"></i>
                                    <p>@item.nomMenu</p>
                                </a>
                            </li>
                        </ul>

                    }

                }
            }


        </li>
        
    </ul>


</nav>
<!--<div class="jumbotron">
    <div>-->
        <!-- Main content -->
        <!--<section class="content">
            <div class="container-fluid">-->
                <!-- Small boxes (Stat box) -->
                <!--<div class="row">
                    <div class="col-lg-3 col-6">-->
                        <!-- small box -->
                        <!--<div class="small-box bg-info">
                            <div class="inner">
                                <h3>150</h3>

                                <p>Nuevo registro</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-document"></i>
                            </div>
                            <a href="#" class="small-box-footer">Ver mas<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>-->
                    <!-- ./col -->
                    <!--<div class="col-lg-3 col-6">-->
                        <!-- small box -->
                        <!--<div class="small-box bg-success">
                            <div class="inner">
                                <h3>53<sup style="font-size: 20px">%</sup></h3>

                                <p>Cumplido</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            <a href="#" class="small-box-footer">Ver mas<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>-->
                    <!-- ./col -->
                    <!--<div class="col-lg-3 col-6">-->
                        <!-- small box -->
                        <!--<div class="small-box bg-warning">
                            <div class="inner">
                                <h3>44</h3>

                                <p>Pendientes</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <a href="#" class="small-box-footer">Ver mas<i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>-->
                    <!-- ./col -->
                    <!--<div class="col-lg-3 col-6">-->
                        <!-- small box -->
                        <!--<div class="small-box bg-danger">
                            <div class="inner">
                                <h3>65</h3>

                                <p>Sin verificar</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-alert"></i>
                            </div>
                            <a href="#" class="small-box-footer">Ver mas <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>-->
                    <!-- ./col -->
                <!--</div>-->
                <!-- /.row -->
                <!-- Main row -->
                <!--<div class="row">-->
                    <!-- Donut chart -->
                    <!--<div class="card card-primary card-outline " style="width: 46%;">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Estados
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="donut-chart" style="height: 300px;"></div>
                        </div>-->
                        <!-- /.card-body-->
                    <!--</div>-->
                    <!-- /.card -->
                    <!-- /.card -->
                    <!-- BAR CHART -->
                    <!--<div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="far fa-chart-bar"></i>
                                Auditoría
                            </h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="chart">
                                <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                        </div>-->
                        <!-- /.card-body -->
                    <!--</div>
                </div>-->
                <!-- /.row (main row) -->
            <!--</div>--><!-- /.container-fluid -->
        <!--</section>-->
        <!-- /.content -->
    <!--</div>
</div>-->

@section scripts{
    <script>
        $(document).ready(function () {
            debugger;
            var areaChartData = {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio'],
                datasets: [
                    {
                        label: 'Auditados',
                        backgroundColor: 'rgba(60,141,188,0.9)',
                        borderColor: 'rgba(60,141,188,0.8)',
                        pointRadius: false,
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [28, 48, 40, 19, 86, 27, 90]
                    },
                    {
                        label: 'Sin Auditar',
                        backgroundColor: 'rgba(210, 214, 222, 1)',
                        borderColor: 'rgba(210, 214, 222, 1)',
                        pointRadius: false,
                        pointColor: 'rgba(210, 214, 222, 1)',
                        pointStrokeColor: '#c1c7d1',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(220,220,220,1)',
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                ]
            }
            //-------------
            //- BAR CHART -
            //-------------
            var barChartCanvas = $('#barChart').get(0).getContext('2d')
            var barChartData = jQuery.extend(true, {}, areaChartData)
            var temp0 = areaChartData.datasets[0]
            var temp1 = areaChartData.datasets[1]
            barChartData.datasets[0] = temp1
            barChartData.datasets[1] = temp0

            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: false
            }

            var barChart = new Chart(barChartCanvas, {
                type: 'bar',
                data: barChartData,
                options: barChartOptions
            })
            ///Grafico Dona
            /*
             * DONUT CHART
             * -----------
             */
            var donutData = [
                {
                    label: 'Revision',
                    data: 30,
                    color: '#3c8dbc'
                },
                {
                    label: 'Activo',
                    data: 20,
                    color: '#0073b7'
                },
                {
                    label: 'Asignado',
                    data: 50,
                    color: '#00c0ef'
                }
            ]
            $.plot('#donut-chart', donutData, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        innerRadius: 0.5,
                        label: {
                            show: true,
                            radius: 2 / 3,
                            formatter: labelFormatter,
                            threshold: 0.1
                        }

                    }
                },
                legend: {
                    show: false
                }
            })

            /*
              * Custom Label formatter
              * ----------------------
              */
            function labelFormatter(label, series) {
                return '<div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">'
                    + label
                    + '<br>'
                    + Math.round(series.percent) + '%</div>'
            }

        });


    </script>


}

